.homebtn{
    background: seagreen;
    padding: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color:seashell;
    font-weight: 100;

}
.description{
    width: 100%;
    position: center;
}
.description p{
    padding: 10px 50px 5px 50px;
    text-align: left;
}

h3{
    margin-top: 10px;
}
.Carddetail{
    position: absolute;
    height: 1000px;
    width: 80%;
    border: 2px solid black;
    right: 20vh;
    top: 10vh; 
    padding-bottom: 5vh;
}

.Carddetail img{
    height: 60vh;
    object-fit: cover;
    max-width: 1000px;
    
}

.Loaderdetail{
    display: flex;
    align-items: center;
    height: 80vh;
    object-fit: cover;
    /* max-width: 1000px; */
    flex-direction: row;
    justify-content: center;

}

.Loaderdetail img{
    max-width: none;
    height: 40vh;
}

#detailtitle{
    font-family: videogamefont;
}