.landing {
    background-image: url(../../images/background.png);
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vh;

}
@font-face {
    font-family: "videogamefont";
    src: url("../../fonts/Retro\ Gaming.ttf");
}


.start{
    font-family: "videogamefont";
    font-size: 2rem;
    background-color:transparent;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    position: center;
    position: relative;
    top:15vh;
    align-items: center;
    justify-content: center;
}

.start:hover{
    background-color: black;
    color:white;
}

.infoPI{
    text-align: left;

}

.henrylives{
    display: flex;
    margin-top: 20vh;
    font-size: 30px;
    font-family: videogamefont;
    flex-direction: row;
    justify-content: center;
}
